<ng-container *ngIf="component$ | async as component">
  <ng-container *ngIf="node; else empty">
    <mat-toolbar>
      <h4 class="mat-subheading-2">{{ component.name }} - {{ node?.name }}</h4>
      <button mat-icon-button (click)="save()">
        <mat-icon>save</mat-icon>
      </button>
    </mat-toolbar>
    <ast-form-element [form]="form" [schema]="schema" [context]="context$ | async"></ast-form-element>
  </ng-container>
  <ng-template #empty>
    <span>Select a node</span>
  </ng-template>
</ng-container>
