<header>
  <mat-chip-list *ngIf="selectors$ | async as selectors else noSelector">
    <ng-container *ngIf="selectors.length else noSelector">
      <ng-container *ngFor="let selector of selectors">
        <mat-chip (click)="select(selector)" >{{ selector }}</mat-chip>
      </ng-container>
    </ng-container>
  </mat-chip-list>
  <ng-template #noSelector>
    <span>There is no selector for this element</span>
  </ng-template>
  <button (click)="save()">Save</button>
</header>

<main *ngIf="rule">
  <form-outlet [form]="form" [schema]="schema"></form-outlet>
</main>
