<mat-toolbar *ngIf="selectors$ | async">
  <button mat-icon-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
</mat-toolbar>

<nav mat-tab-nav-bar *ngIf="selectors$ | async as selectors else noSelector">
  <ng-container *ngIf="selectors.length else noSelector">
    <ng-container *ngFor="let selector of selectors">
      <button mat-tab-link (click)="select(selector)" [active]="rule.selector.id === selector">
        {{ selector }}
      </button>
    </ng-container>
  </ng-container>
</nav>

<main *ngIf="rule">
  <form-outlet [form]="form" [schema]="schema"></form-outlet>
</main>

<ng-template #noSelector>
  <span>There is no selector for this element</span>
</ng-template>