/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Be sure that you only ever include this mixin once!
@include mat-core();

$inspector-primary: mat-palette($mat-indigo);
$inspector-accent: mat-palette($mat-pink, A200, A100, A400);
$inspector-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$inspector-theme: mat-dark-theme(
  $inspector-primary,
  $inspector-accent,
  $inspector-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($inspector-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
