@import './variables';

@mixin button-toggle-theme($theme) {
  $primary: map-get($theme, primary);
  .mat-button-toggle-group {
    border-radius: 0;

    .mat-button-toggle:hover {
      .mat-icon {
        color: mat-color($primary, default-contrast);
      }
    }

    .mat-button-toggle-checked {
      background-color: mat-color($primary, default);
      color: mat-color($primary, default-contrast);
      .mat-icon {
        color: mat-color($primary, default-contrast);
      }
      &.mat-button-toggle-appearance-standard {
        color: mat-color($primary, default-contrast);
      }
    }

    .mat-button-toggle-label-content {
      padding: 0 8px;
      line-height: $icon-container;
    }
  }

}