@import './variables';

@mixin expansion-theme($theme) {
  $background: map-get($theme, background);

  .mat-accordion {
    .mat-expansion-panel {
      border-radius: 0;
      background-color: var(--vscode-tab-inactiveBackground);
      border-top: solid 1px var(--vscode-sideBarSectionHeader-border);
      
      &:first-child {
        border-top: none;
      }
      
      // box-shadow: none;
      .mat-expansion-panel-header {
        height: $icon-container;
        &.mat-expanded {
          height: calc($icon-container + 5px);
        }
        .mat-expansion-panel-header-title {
          align-items: center;
        }
      }
    
      .mat-expansion-panel-content {
        .mat-expansion-panel-body {
          padding-left: 0;
          padding-right: 0;
        }
  
        .mat-list-base {
          padding-top: 0;
        }
      }
    }
  }
  
}

@mixin expansion-typography($typography) {
  .mat-expansion-panel-header-title {
    font: {
      size: mat-font-size($typography, subheading-2);
      weight: mat-font-weight($typography, subheading-2);
    }
  }
}