@import './variables';

@mixin list-theme($theme) {
  .mat-list-base {
    .mat-list-item {
      height: $line-height;
      
      // with avatar is for icon here
      &.mat-list-item-with-avatar {
        height: $icon-container;

        .mat-list-icon {
          width: $line-height;
          height: $line-height;
          font-size: $line-height;
          line-height: $line-height;
        }
        .mat-list-text {
          padding-left: 0;
        }
      }

    }
  }
}