@import './variables';

@mixin button-theme($theme) {
  .mat-button {
    padding: 4px;
    border-radius: 0;
  }

  .mat-flat-button {
    border-radius: 0;
  }

  button.mat-icon-button, a.mat-icon-button {
    width: $line-height;
    height: $line-height;
    line-height: $line-height;
    padding: calc(($line-height - $icon-size) / 2) !important;
    .mat-icon {
      line-height: $icon-size;
    }
  }
}