@import './variables';

@mixin list-theme($theme) {
  .mat-list-base {
    .mat-list-item {
      height: 22px;
      
      // with avatar is for icon here
      &.mat-list-item-with-avatar {
        height: 35px;
        padding-left: 0;
        .mat-list-icon {
          width: $icon-container;
          height: $icon-container;
          font-size: $icon-container;
        }
        .mat-list-text {
          padding-left: 0;
        }
      }

    }
  }
}